.backgrouny {
  background-image: url("https://www.cnet.com/a/img/resize/98b63412dac163d428ab6db63463a635629ba1a2/2020/05/18/6fca681e-d1a9-4fad-b7c3-458c531a0de3/rick-morty-vat-acid.jpg?auto=webp&fit=crop&height=630&width=1200");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-shadow: -3px -3px 0px #05e4f8, 3px 3px 0px #00f608;
}

.boton {
  --glow-color: rgb(248, 255, 176);
  --glow-spread-color: rgba(134, 255, 123, 0.781);
  --enhanced-glow-color: rgb(250, 255, 206);
  --btn-color: rgb(64, 136, 61);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.boton:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.boton:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

.imgx {   
  box-shadow: 20px 20px 20px #57e406;
}
